*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
    font-family: sans-serif;
    color: white;
}
.searchContainer{
    height: 10vh;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}

.searchContainer:hover{
    opacity: 1;
}
.searchContainer input{
height: 30px;
}

button{
    width: 60px;
    height: 30px;
}
#itemcontainer{
    display: none;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

.days{
    display: flex;
    flex-direction: row;
}

.temp-name{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
    margin: 2vh 15px 5vh 15px;
}
.location, 
.day{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
}

.location-timezone{
    margin-bottom: 20px;
    font-size: 45px;
}

.day{
    flex-direction: column;
    margin: 2vh 15px 5vh 15px;
}

.degree-section{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 50px;
}
.degree-section span{
    margin: 10px;
    font-size: 38px;
}

.degree-section h2{
    font-size: 40px;
    font-weight: 700;
}